<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing discover flight</h1>

  <%= render "form", discover_flight: @discover_flight %>

  <%= link_to "Show this discover flight", @discover_flight, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to discover flights", discover_flights_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
