<%= turbo_frame_tag "frame4", class: "w-full" do %>
  <div class="mb-10">
    Thank you, <%= notice %>, for downloading our booklet!  You will receive an email with a download link shortly.
  </div>
<% end %>