<section class="bg-gradient-to-r from-sky-700 to-sky-600 text-white">
  <div class="flex flex-col items-center">
    <h2 class="text-center font-bold text-4xl lg:text-5xl font-header uppercase py-20">SimpliFly offers Flexible and Accelerated Programs</h2>
    <p class="w-4/5 lg:w-3/5 grid place-items-center text-xl pb-20">Depending on your availability and commitment, we offer programs to fit your need and schedule.  Study full time or part time.  The team at SimpliFly is here to help you reach your aviation goals.</p>
  </div>
  <!--Comparison-->
  <div class="flex flex-col lg:flex-row justify-center lg:items-start pl-10 lg:pl-36 lg:gap-24">
    <!--Accelerated-->
    <div class="lg:w-2/5">
      <h3 class="font-bold text-xl">Accelerated Track</h3>
      <ul class=" py-5">
        <li class="pb-2">
          <div class="flex flex-row">
            <div class="pr-3 font-extrabold">✈</div>
              Full Time
          </div>
          <div class="pl-7 italic text-slate-300">Engage in full time daily training in a learning environment that maximizes exposure and practice time, accelerating your progress towards obtaining a pilot's license.</div>
        </li>
        <li class="pb-2">
          <div class="flex flex-row">
            <div class="pr-3 font-extrabold">✈</div>
              Fly daily
          </div>
          <div class="pl-7 italic text-slate-300">Fly as often as possible.  Weather and maintenance permitting.</div>
        </li>
        <li class="pb-2">
          <div class="flex flex-row">
            <div class="pr-3 font-extrabold">✈</div>
              Condensed duration
          </div>
          <div class="pl-7 italic text-slate-300">Designed to be completed in a shorter timeframe compared to flexible programs, allowing students to obtain their pilot's license quickly and efficiently.</div>
        </li>
        <li class="pb-2">
          <div class="flex flex-row">
            <div class="pr-3 font-extrabold">✈</div>
              Immersive and intense
          </div>
          <div class="pl-7 italic text-slate-300">The intensive nature of the program allows students to fully immerse themselves in aviation training, promoting a deeper level of engagement and focus on their learning objectives.</div>
        </li>
      </ul>
      <div class="flex lg:hidden mb-10">
        <%= link_to "ACCELERATED PROGRAM", accelerated_path, data: { turbo: false }, class: "btn-secondary border-0" %>
      </div>
    </div>
    
    <!--Flexible-->
    <div class="lg:w-2/5">
      <h3 class="font-bold text-xl">Flexible Track</h3>
      <ul class=" py-5">
        <li class="pb-2">
          <div class="flex flex-row">
            <div class="pr-3 font-extrabold">✈</div>
              Part Time
          </div>
          <div class="pl-7 italic text-slate-300">Dedicate 1-2 times a week for flight lessons, allowing for greater flexibility in balancing other commitments like work or education.</div>
        </li>
        <li class="pb-2">
          <div class="flex flex-row">
            <div class="pr-3 font-extrabold">✈</div>
              Fly few times a week
          </div>
          <div class="pl-7 italic text-slate-300">Fly when your schedule allows.  Weather and maintenance permitting.</div>
        </li>
        <li class="pb-2">
          <div class="flex flex-row">
            <div class="pr-3 font-extrabold">✈</div>
              Extended duration
          </div>
          <div class="pl-7 italic text-slate-300">The program may have a longer overall duration due to the reduced frequency of training sessions, providing trainees with a more relaxed pace and time to absorb and practice skills.</div>
        </li>
        <li class="pb-2">
          <div class="flex flex-row">
            <div class="pr-3 font-extrabold">✈</div>
              Reduced intensity
          </div>
          <div class="pl-7 italic text-slate-300">The training sessions are spread out, allowing students to manage the learning curve at a pace that suits their comfort level, potentially reducing stress and enhancing confidence in their abilities.</div>
        </li>
      </ul>
      <div class="flex lg:hidden mb-10">
        <%= link_to "FLEXIBLE PROGRAM", flexible_path, data: { turbo: false }, class: "btn-secondary border-0" %>
      </div>
    </div>
  </div>

  <!--Desktop buttons-->
  <div class="flex-row justify-center gap-52 w-full hidden lg:flex" >
    <div class="my-5 py-5 flex">
      <%= link_to "ACCELERATED PROGRAM", accelerated_path, data: { turbo: false }, class: "btn-secondary border-0" %>
    </div>
    <div class="my-5 py-5 flex">
      <%= link_to "FLEXIBLE PROGRAM", flexible_path, data: { turbo: false }, class: "btn-secondary border-0" %>
    </div>
  </div>
</section>