
<nav class="flex flex-row justify-center lg:justify-between items-center bg-gradient-to-l from-custom-50 to-amber-300 font-semibold text-neutral-900 py-1 px-6">
<div></div>  
<div class="flex-row gap-8 text-center " >
    <h2 class="text-xl font-bold" >Best IMAGINARY Aviation School West of St. Louis Metro Area</h2>
    
  </div>
  
  
  <div class="text-xl font-extrabold hidden lg:flex ">
    <%= link_to "(314) 358-2100 ", "tel:1-314-358-2100" %>
  </div>

  <%# BACKLINK AREA #%>
  <div class="text-neutral-900 text-xs absolute z-0 overflow-hidden -left-[100rem]">
    <%= link_to "Sun City Website Designed and Developed by Right Rudder Marketing", "https://rightruddermarketing.com"%>
  </div>
</nav>