<nav class="flex flex-row justify-center lg:justify-between items-center bg-gradient-to-r from-custom-50 to-amber-300 font-semibold text-neutral-900 py-1 px-6">
  <div class="flex-row gap-8 hidden lg:flex" >
    <h1 class="text-2xl font-extrabold">#1 Flight School in South Florida Hollywood Miami </h1>
    
  </div>
  <div class="text-2xl font-extrabold">
    <%= link_to "(754) 423-2159", "tel:1-754-423-2159" %>
  </div>

  <%# BACKLINK AREA #%>
  <div class="text-neutral-900 text-xs absolute z-0 overflow-hidden -left-[100rem]">
    <%= link_to "Sun City Website Designed and Developed by Right Rudder Marketing", "https://rightruddermarketing.com"%>
  </div>
</nav>