<%# Head / Meta Data %>
<% title("Accelerated Pilot Training | BlueBird Best Aviation Academy") %>
<% meta_description("BlueBird Best offers Flexible Pilot Training Programs.  Go from Zero to Hero (PPL to CFII) on your own schedule. Our flight schools are in Marthasville, MO and Spanish Fork, UT.  Many of our students come from Gilbert, Chandler, Tempe, Scottsdale, Apache Junction, Queen Creek, Fountain Hills, Gold Canyon, Maricopa, Pinal, Springville, Provo, Payson, Mapleton, Salem, Elk Ridge, Utah County, Juab County") %>
<% meta_keywords(" Flexible Pilot Training, Part-Time Pilot Training, Full-Time Pilot Training, Marthasville Flight School, Phoenix Flight School, Scottsdale Flight School, Spanish Fork Flight School, Salt Lake Flight School") %>

<%= render "shared/header"%>

<!--FASHION -->


 

    <h3 class="text-5xl font-header uppercase font-semibold text-center">Fashion</h3>


    <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
    </div>
    
</div>

   

<%= render "shared/footer"%>