<p>Dear <%=@book_download.name%>, 

<p>Thank you for requesting our free booklet on how to become a pilot.  We'll reach out to you shortly to say hello and introduce ourselves.</p>

<p>You can download the book by clicking <a href="https://drive.google.com/file/d/1EV3xlUAPmlouRsWFUfg04nSn089eO7ML/view?usp=share_link">here</a>.</p>

<p>At SimpliFly, we are committed to providing the best possible aviation education and training. We offer a variety of programs and courses designed to meet the needs of both aspiring pilots and experienced aviators.</p>

<p>If you are interested in pursuing a career as a pilot, we offer comprehensive training programs that will help you achieve your goals. Our programs cover everything from private pilot certification to advanced training in commercial aviation.</p>

<p>Whatever your goals may be, we are confident that we can help you achieve them. If you have any questions about our programs, please don't hesitate to contact us.</p>

<p>
The team at SimpliFly<br>
<a href="tel:1-480-256-8355">1-480-256-8355</a><br>
<a href="mailto:info@simpliflyco.com">info@simpliflyco.com</a><br>
</p>
<br>
<br>
  -------- Your Form Submission Details --------
<br>
<br>
Name: <%=@book_download.name%><br>
Phone: <%=@book_download.phone%><br>
Email: <%=@book_download.email%><br>